.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button.selected {
  background-color: gray;
}

button.selected:hover {
  background-color: lightgray;
}

.Dropdown-root {
  margin-left: 30px;
}